.OrderHistoryPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
  
  .OrderHistoryPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 20px;
  }

  .OrderHistoryPage .button {
    display: block;
    margin-bottom: 10px;
  }

  .OrderHistoryPage main {
    flex-grow: 1;
    padding: 20px;
  }

  .OrderHistoryPage main .OrderList {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .OrderHistoryPage main .OrderDetails {
    border: 1px solid #ccc;
    padding: 10px;
  }