.OrderHistoryPage {
    display: flex;
    height: 100%;
  }
  
  .OrderHistoryPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    padding: 1rem;
  }
  
  .OrderHistoryPage .OrderList {
    flex: 1;
    overflow-y: auto;
  }
  
  .OrderHistoryPage .OrderDetails {
    flex: 2;
    padding: 1rem;
  }